<%- include('./partials/header.ejs') %>

<%- include('./partials/navbar.ejs') %>

<br/>
<div class="container">
  <h1>Página inicial do nosso sistema</h1>
</div>

<%- include('./partials/footer.ejs') %>
